<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tdp.siu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_fiuba_fondo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_fiuba_fondo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".TemplatePDF"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".MainActivityAlumno"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityDocente"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlumnosInscriptosActivity"
            android:label="Alumnos inscriptos" />
        <activity
            android:name=".FechasDeExamenActivity"
            android:label="Fechas de examen" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".OfertaAcademicaActivity"
            android:label="Oferta académica" />
        <activity
            android:name=".InscripcionesActivity"
            android:label="Inscripciones" />
        <activity android:name=".CatedrasActivity" />
        <activity
            android:name=".FinalesActivity"
            android:label="Finales" />
        <activity android:name=".OfertaFinalesActivity" />
        <activity
            android:name=".FinalesOpcionesActivity"
            android:label="Finales" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".HistorialActivity"
            android:label="Historial académico" />
        <activity
            android:name=".CalendarActivity"
            android:label="Calendario semanal" />
        <activity android:name=".EncuestasActivity"
            android:label="Encuesta"/>
    </application>

</manifest>